<%= render 'shared/navbar' %>
<div class="subhead">
  <p>Cocktails</p>
</div>
<div class="container">
  <% @cocktails.each do |drink| %>
    <div class="card-trip">
      <%= drink.name %>
      <%= drink.description %>
    <% end %>
  </div>
  <%= link_to "Add a Cocktail", new_cocktail_path %>
</div>
