<%= render 'shared/navbar' %>
<div class="container">
  <p>Cocktails</p>
  <% @cocktails.each do |drink| %>
    <%= drink.name %>
    <%= drink.description %>
  <% end %>
  <%= link_to "Add a Cocktail", new_cocktail_path %>
</div>
