<div class="container">
  <h1>Shaken, Stirred</h1>
  <h2>Cocktails</h2>
  <% @cocktails.each do |drink| %>
    <%= drink.name %>
    <%= drink.description %>
  <% end %>
  <%= link_to "Add a Cocktail", new_cocktail_path %>
</div>
