<div class="subhead">
  <p>Cocktails</p>
  <%= link_to "Add a Cocktail", new_cocktail_path, class: "btn btn-main" %>
</div>
<div class="container">
  <% @cocktails.each do |drink| %>
    <div class="card-trip">
      <img src='<%= cl_image_path(drink.photo.key) %>'>
      <div class="card-trip-infos">
        <div>
          <p id="card-header"><%= drink.name %></p>
          <p><%= drink.description %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
