<div class="container">
  <h1>New Cocktail</h1>
  <h2>What's the drink?</h2>
  <%= simple_form_for @cocktail do |c| %>
    <%= c.input :name %>
    <%= c.input :description %>
    <%= c.submit "Add" %>
  <% end %>
</div>
