.btn-main {
  border-radius: 0px;
  padding: 16px;
  background-color: $red;
  color: $beige;
  transition: 0.5s;
  &:hover {
    background-color: $blue;
    color: $gray;
  }
}

.btn-pour {
  border-radius: 0;
  border: 2px solid $gray;
  background-color: $yellow;
  transition: 0.5s;
  &:hover {
    border: 2px solid $yellow;
    color: $yellow;
    background-color: $blue;
  }
}
