.form-box {
  background-color: $yellow;
  border-left: 2px solid $blue;
  border-top: 2px solid $blue;
  box-shadow: 4px 4px 0px $gray;
  padding: 16px;
  margin-top: 32px;
  #file-upload-button {
  background-color: $gray;
}
}

.form-input {
  outline: none !important;
  border-radius: 0;
  border: 2px solid $gray;
  transition: 0.5s;
  &:hover {
    border: 2px solid $blue;
  }
}
