.navbar-lewagon {
  justify-content: space-between;
  background: $gray;
  color: $beige;
  border-bottom: 2px solid $red;
  h1 {
    font-size: 24px;
  }
  a {
    font-weight: bold;
    color: $beige;
    transition: 0.5s;
    &:hover {
      color: $blue;
    }
  }
}

.navbar-lewagon .nav-item-active .nav-link {
  color: $beige;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
