.navbar-lewagon {
  justify-content: space-between;
  background: $red;
  color: $beige;
  border-bottom: 2px solid $red;
  h1 {
    font-size: 24px;
    color: $beige;
    margin-top: 8px;
  }
  a {
    font-weight: bold;
    color: $beige;
    transition: 0.5s;
    &:hover {
      color: $blue;
    }
  }
}

.navbar-light .navbar-nav .nav-link {
  color: $beige;
  &:hover {
    color: $yellow;
  }
}

.navbar-light .navbar-nav .active > .nav-link {
  color: $gray;
  border-left: 2px solid $gray;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
