.subhead {
  font-size: 32px;
  font-weight: bold;
  background-color: $yellow;
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    margin: 0;
  }
}
