<div class="container">
  <h1>Add a Measure</h1>
</div>
<div class="container">
  <h2>What's the measure?</h2>
  <%= simple_form_for [@cocktail, @measure] do |m| %>
    <%= m.association :ingredient %>
    <%= m.input :description %>
    <%= m.submit "Pour in" %>
  <% end %>
</div>
